*{
  margin: 5px;
  box-sizing: border-box;
}
body{
  background: #3aafa9;
  font-family: 'Segoe UI', 
  Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  color: #f7f1f0;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  height: 95vh;
}
header{
  background: #2b7a78 url('../images/header.jpg');
  padding: 2em 0 2em 0;
}
#main{
  display: flex;
  flex: 1;
}
.left{
  background: #2b7a78;;
  padding: 3em 0 3em;
  flex: 100px;
}
main{
  background: #2b7a78;;
  padding: 3em 0 3em;
  flex: 5 5 150px;
}
.right{
  background: #2b7a78;;
  padding: 3em 0 3em;
  flex: 1 1 100px;
}
footer{
  background: #2b7a78;;
  padding: 3em 0 3em;
}
.left ul{
  list-style: none;
}
.left li{
  background: #192524;
  padding: 5px 10px;
}
.left li a{
  text-decoration: none;
  font-weight: bold;
  color: #fcffff;
}
.left li:hover{
  cursor: pointer;
  background: #3c5759;
}
@media all and (max-width: 550px){
  #main{
    flex-direction: column;
  }
  main{
    padding: 5em 0 5em 0;
  }
}